@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #0f1111;
}
.navbar {
  font-family: "Google Sans", sans-serif;
  font-size: 15px;
  color: white;
  background-image: url(../assets/img/FONDONAV.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-color: #0f1111;
}
.imgnav {
  width: 150px;
  height: auto;
}
.textosnav {
  transition: 0.2s;
  color: white;
}
.form-control {
  border-radius: 10px;
  padding: 10px 20px;
  width: 250px;
}
.btn-outline-secondary {
  color: white;
  font-size: 20px;
  border: 0;
}
.form-control::placeholder {
  font-size: large;
  color: gray;
  font-size: 17px;
}
.form-control {
  width: 300px;
}
.shadow-color {
  box-shadow: 0 0 10px 2px rgb(29, 161, 242)
}

.form-container-limite-login {
  max-width: 500px;
  border-radius: 20px;
}
.formlogin::placeholder {
  font-size: 15px;
}
.contenedor-principal-todas-las-paginas{
  margin-bottom: 10%;
  margin-top: 10%;
}
.fondo-footer {
  font-family: "Google Sans", sans-serif;
  font-size: 15px;
  color: white;
  background-image: url(../assets/img/FONDONAV.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-color: #0f1111;
  transition: 0.3s ease;
}
.fondo-footer:hover {
  background-image:
    linear-gradient(rgb(20, 20, 20), rgb(71, 68, 68)),
    url("../assets/img/FONDONAV.png");
}
.imgnavfooter{
  width: 230px;
  height: auto;
} 