@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: "Google Sans", sans-serif;
  font-size: 17px;
  color: white;
  font-weight: 900;
  background-image: url(../contenido/background/FONDONAV.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-color: #0f1111;
}

.imgnav {
  width: 200px;
  height: auto;
}

.textosnav {
  transition: 0.2s;
  color: white;
}

@media (hover: hover) {
  .textosnav:hover {
    transform: scale(1.1);
  }
}

.form-control {
  border-radius: 10px;
  padding: 10px 20px;
  width: 250px;
}


.btn-outline-secondary {
  color: white;
  font-size: 20px;
  border: 0;
}

.form-control::placeholder {
  font-size: large;
  color: gray;
  font-size: 17px;
}

.form-control{
width: 300px;
}

.shadow-color {
  box-shadow: 0 0 20px 10px rgba(0, 195, 255, 0.6);
}

main {
  background-color: #0f1111;
  font-family: "Google Sans", sans-serif;
  padding-top: 80px;
}

.form-container-limite {
  max-width: 500px;
  border-radius: 20px;
}

.form-container-limite-login{
  max-width: 500px;
  border-radius: 20px;
}

.formlogin::placeholder{
  font-size: 15px;

}
.formlogincrearcuenta::placeholder{
font-weight: bolder;
}

.text-crearcuenta{
  font-weight: bolder;
}
